<?php /** Layout **/
date_default_timezone_set("Asia/Tokyo");
?>
<!DOCTYPE HTML>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="<?=$config->common_css?>style.css">
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<section class="hidden">
	</section>
	<header>
		<span class='lh'>Popcorn Framework v1.0</span>
		<span class='rh'>IVP Global Solutions Inc.</span>
	</header>
	<section id="content">
		
		<?php require_once($page);?>

	</section>
	<footer id="list">
		
	</footer>
	<section class="hidden">
	</section>
</body>
</html>
