<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-tv"></i>Application</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="<?=$config->http?>dashboard">Home</a></li>
      <li><i class="fa fa-credit-card"></i>Applicaiton</li>
      <li><i class="fa fa-list"></i>My Loan</li>                
    </ol>
  </div>
</div>
<div class="row">
<section class="panel">
    <div class="alert alert-block alert-danger fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>Reminder </strong> Your balance payment for the month is almost due. <br/>
        Need to find the nearest branches for payment? Try our <a href="#">Branch Locator</a>
    </div>
</section>
</div>
<div class="row">
    <section class="panel">
        <div class="panel-body">
          <div class="remaining-balance">
            <h3><strong>Remaining Loan Balance:</strong> Php  388,992.78</h3>
          </div>
          <div class="description">
              <section class="panel">
                          <header class="panel-heading">
                              2016
                          </header>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Month</th>
                                  <th>Amount</th>
                                  <th>Reference No.</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>January</td>
                                  <td>14540.61</td>
                                  <td>T00003132</td>
                                  <td>Paid</td>

                               
                                </tr>
                                <tr>
                                  <td>February</td>
                                  <td>14540.61</td>
                                  <td>T00003133</td>
                                  <td>Paid</td>

                                </tr>
                                <tr>
                                  <td>March</td>
                                  <td>14540.61</td>
                                  <td>T00003134</td>
                                  <td>Paid</td>

                                </tr>
                              </tbody>
                            </table>
                          </div>

                      </section>
          </div>  
        </div>
    </section>
</div>